@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #cb1f2b;
  --color-secondary: #e50021;
  --color-accent: #25205c;
  --color-disabled: #808080;

  --font-montserrat: "Montserrat", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

@layer base{
  html{
    @apply font-montserrat;
  }
}
@layer components {
  .heading {
    @apply text-5xl font-semibold;
  }
}

/* 
  flex-basis property specifies the initial length of a flexible item.
  @container rule is used to define styles for other elements depending on the container's size or styles.
  column-count property specifies the number of columns an element should be divided into. (column-rule-style, column-rule-color)
  column-fill property specifies how to fill columns, balanced or not.
*/

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
